/* LAB regions scss  */

table.distant-reading {
  tbody td {
    padding: 0.3rem;
    font-size: 0.1em;
  }
  .heading-rid {
    font-size: 0.1em;
  }
}

.tabs-title.is-active {
  a, a:focus {
    background-color: #385669;
    color: white;
  }
}
