{% load wagtailcore_tags cms_tags menu_tags %}

<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-menu"></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/" tabindex="-1">Home</a></li>
      {% for page in menu_pages %}
      <li{% if page.active %} class="active"{% endif %}>
        <a href="{% pageurl page %}" tabindex="-1">
          {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>

    <ul class="dropdown menu second-line" data-dropdown-menu>
      {% flat_menu "digital_edition_top_nav" %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      {% if request.user.is_authenticated %}
      {% if request.user.is_staff %}
      <li class="right"><a href="/wagtail/" tabindex="-1"><i class="icon icon-wagtail"></i></a></li>
      {% endif %}
      <li class="right"><a href="/admin/logout/" tabindex="-1">Logout <strong>{{ request.user.first_name }}</strong> <i class="fas fa-user"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>