{% extends "base.html" %}
{% load staticfiles compress %}

{% block meta_title %}Sentence search{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/x-scss"
  href="{% static 'scss/digital-edition.scss' %}">
<link rel="stylesheet" type="text/x-scss"
  href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block main %}
{% verbatim %}

<div id="text-search" class="grid-x grid-margin-x">
  <div class="cell small-12 medium-9">
    <h1 class="no-container">
      <span class="capitalize label secondary large-title">{{ facets.group }}</span> Search
      <small>for <span class="capitalize">{{ facets.result_type }}</span></small>
    </h1>
  </div>
  <div class="cell small-12 medium-3">
    <p class="text-right">
      <a :href="facets.group == 'declaration' ? '/search/?group=regiam' : '/search/?group=declaration'" class="button secondary">
        {{ facets.group == 'declaration' ? 'Switch to Regiam Maiestatem' : 'Switch to The Declaration of Arbroath' }}
      </a>
    </p>
  </div>
  <div class="cell medium-3 controls">
    <h2>Type</h2>

    <div class="grid-x grid-margin-x">
      <div class="cell small-4" v-if="is_heatmap_visible">
        <p>Heatmap</p>
        <div class="switch tiny">
          <input class="switch-input" v-model="facets.result_type" type="radio"
            value="regions" id="regions" checked name="radio-group-type">
          <label class="switch-paddle" for="regions">
            <span class="show-for-sr">Heatmap</span>
          </label>
        </div>
      </div>
      <div :class="{cell: 1, 'small-4': is_heatmap_visible, 'small-6': !is_heatmap_visible}">
        <p>Sentences</p>
        <div class="switch tiny">
          <input class="switch-input" v-model="facets.result_type" type="radio"
            value="sentences" id="sentences" name="radio-group-type">
          <label class="switch-paddle" for="sentences">
            <span class="show-for-sr">Sentences</span>
          </label>
        </div>
      </div>
      <div :class="{cell: 1, 'small-4': is_heatmap_visible, 'small-6': !is_heatmap_visible}">
        <p>Text</p>
        <div class="switch tiny">
          <input class="switch-input" v-model="facets.result_type" type="radio"
            value="text" id="text" name="radio-group-type">
          <label class="switch-paddle" for="text">
            <span class="show-for-sr">Text</span>
          </label>
        </div>
      </div>
    </div>

    <h2>Options</h2>

    <template v-if="facets.result_type == 'sentences'">
      <h3>Sentence number</h3>
      <div class="button-group with-input ninetypx">
        <button class="button secondary" @click="move_sentence_number(-1)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"/></svg>
          <span class="show-for-sr">Prev</span>
        </button>
        <input v-model="facets.sentence_number" type="text">
        <button class="button secondary" @click="move_sentence_number(1)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"/></svg>
          <span class="show-for-sr">Next</span>
        </button>
      </div>
    </template>

    <template v-if="facets.result_type == 'sentences'">
      <h3>Language</h3>

      <div class="grid-x grid-margin-x">
        <div class="cell small-6">
          <p>Latin</p>
          <div class="switch tiny">
            <input class="switch-input" v-model="facets.encoding_type"
              type="radio" value="transcription" id="transcription" checked
              name="radio-group-lang">
            <label class="switch-paddle" for="transcription">
              <span class="show-for-sr">Latin</span>
            </label>
          </div>
        </div>
        <div class="cell small-6">
          <p>English</p>
          <div class="switch tiny">
            <input class="switch-input" v-model="facets.encoding_type"
              type="radio" value="translation" id="translation"
              name="radio-group-lang">
            <label class="switch-paddle" for="translation">
              <span class="show-for-sr">English</span>
            </label>
          </div>
        </div>
      </div>
    </template>

    <template v-if="facets.result_type == 'text'">
      <h3>Query</h3>
      <form v-on:submit.prevent="fetch_results">
        <div class="button-group with-input">
          <input v-model="facets.q" type="string" value="">
          <button class="button secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
            <span class="show-for-sr">Search</span>
          </button>
        </div>
      </form>
    </template>

    <h3>Texts</h3>
    <!-- TODO: implements select/deselect all button -->
    <button class="button small secondary select-all"
      @click="on_select_all_texts">Select all</button>
    <template v-for="text in facets.texts">
      <template v-if="text.type == 'version'">
        <ul class="menu vertical">
          <li :class="">
            <label>
              <input type="checkbox" v-model="text.selected"
                @change="on_tick_text(text)">
              <span
                :class="'label secondary version ' + text.attributes.siglum.toLowerCase() + '-text-id'">{{ text.attributes.siglum }}</span>
              {{ text.attributes.name }}
            </label>
            <ul class="menu vertical">
              <template v-for="member in facets.texts">
                <li :class="" v-if="member.attributes.group == text.id">
                  <label>
                    <input type="checkbox" v-model="member.selected"
                      @change="on_tick_text(member)">
                    <span
                      class="label secondary manuscript">{{ member.attributes.siglum }}</span>
                    {{ member.attributes.name }}
                  </label>
                </li>
              </template>
            </ul>
          </li>
        </ul>
      </template>
    </template>
  </div>

  <div class="cell medium-9" id="results">
    <h2>Results
      <span v-if="facets.result_type !== 'regions'">
        <span v-if="response.data">: {{response.meta.hit_count}} sentences</span>
      </span>
      <span v-if="response.q">with <strong>{{response.q}}</strong></span>
    </h2>

    <ul v-if="response.meta.page_count > 1" class="pagination" role="navigation" aria-label="Pagination">
      <li class="arrow {% if facets.page > 1 %}unavailable{% endif %}">
        <a href="#results" @click="on_click_previous_page">&laquo;</a>
      </li>
      <li>Page <strong>{{ facets.page }}</strong> of {{ response.meta.page_count }}</li>
      <li class="arrow {% if facets.page < response.meta.page_count %}unavailable{% endif %}">
        <a href="#results" @click="on_click_next_page">&raquo;</a>
      </li>
    </ul>

    <template v-if="response.data && response.data.length > 0">
      <div class="hit" v-for="hit in response.data" v-html="hit.html">
      </div>
    </template>

    <!-- Remove code duplication, pagination code is there twice -->
    <ul v-if="response.meta.page_count > 1" class="pagination" role="navigation" aria-label="Pagination">
      <li class="arrow {% if facets.page > 1 %}unavailable{% endif %}">
        <a href="#results" @click="on_click_previous_page">&laquo;</a>
      </li>
      <li>Page <strong>{{ facets.page }}</strong> of {{ response.meta.page_count }}</li>
      <li class="arrow {% if facets.page < response.meta.page_count %}unavailable{% endif %}">
        <a href="#results" @click="on_click_next_page">&raquo;</a>
      </li>
    </ul>

    <div v-if="selected_region" id="heatmap-tooltip" class="custom-tooltip">
      <ul class="no-bullet">
        <li v-for="(sigla, reading) in selected_region.readings">
          <template v-for="siglum in sigla">
            <p>
              <span
                :class="'label version ' + siglum[0].toLowerCase() + '-text-id'">{{ siglum[0] }}</span><span
                :class="'label manuscript ' + siglum[1].toLowerCase() + '-text-id'">{{ siglum[1] }}</span><span
                class="reading">{{ reading }}</span>
            </p>
          </template>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endverbatim %}
{% endblock main %}

{% block footer_scripts %}
{{ block.super }}
<script>
  /* beautify preserve:start */
  window.DEBUG = {% if ds.DEBUG %}true{% else %}false{% endif %};
  /* beautify preserve:end */
</script>

<script src="{% static 'vue/dist/vue.js' %}"></script>

<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet-iiif/leaflet-iiif.js' %}"></script>

<script src="{% static 'ctrs_texts/text_search.js' %}"></script>
{% endblock %}
